<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/account.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <!-- <script async src="script/script.js"></script> -->
    <script async src="script/account.js"></script>
    <title>Личный кабинет</title>
</head>
<body>

    <div id="header">
        <div class="menu-btn">
            <span></span>
        </div>
        <nav class="menu-nav">
            <a href="/">Главная</a>
            <a href="store.html">Магазин</a>
            <a href="/account">Панель управления</a>
            <a href="">Поддержка</a>
            <a href="/login">Вход</a>
        </nav>
    </div>



    <div class="window">
        <div class="container">
            <h2 class="dark">Личный кабинет</h2>
        </div>
    
        <div class="nameOfUser">
            <h2 class="dark">Иван Иванов</h2>
            <h3>ivanov@gmail.com</h3>
            <a href="">Изменить пароль</a>
        </div>
    
    
    <ul class="devices">
        <h3>Ваши устройства:</h3>

        <li class="device" >
            <div class="title"><h3>Гигрометр</h3><h3><i class="fas fa-angle-right"></i></h3></div>
            <ul><li>
            <a href="">Изменить</a>
            <div class="row">
                <div class="item">
                    <h3>Термостат</h3>
                    <p>id:1234123</p>
                </div>
                <div class="item">
                    <h3>Отображать в комнатах:</h3>
                    <p>Спальня</p>
                    <p>Комната</p>
                    <p>Ванная</p>
                </div>
            </div>
            </li></ul>
        </li>

        <li class="device">
            <div class="title"><h3>Термостат</h3><h3><i class="fas fa-angle-right"></i></h3></div>
            <ul><li>
            <a href="">Изменить</a>
            <div class="row">
                <div class="item">
                    <h3>Термостат</h3>
                    <p>id:1234123</p>
                </div>
                <div class="item">
                    <h3>Отображать в комнатах:</h3>
                    <p>Спальня</p>
                    <p>Комната</p>
                    <p>Ванная</p>
                </div>
            </div>
            </li></ul>
        </li>

    
        <li class="device">
            <div class="title"><h3>Счетчик воды</h3><h3><i class="fas fa-angle-right"></i></h3></div>
            <ul><li>
            <a href="">Изменить</a>
            <div class="row">
                <div class="item">
                    <h3>Термостат</h3>
                    <p>id:1234123</p>
                </div>
                <div class="item">
                    <h3>Отображать в комнатах:</h3>
                    <p>Спальня</p>
                    <p>Комната</p>
                    <p>Ванная</p>
                </div>
            </div>
            </li></ul>
        </li>
    </ul>

    
    <ul class="rooms">
        <h3>Комнаты:</h3>
        <li><h3>Кухня</h3></li>
        <li><h3>Спальня</h3></li>
        <li><h3>Гостиная</h3></li>
        <!-- <li><a href="">Добавить</a></li> -->


        <div class="addRooms invisible">
                <!-- bathroom | bedroom | kitchen | childroom | balcony | userRoom0 | userRoom1 | userRoom2 -->
           <!-- <li>
                <label for="livingroom">Гостиная</label>
                <input type="checkbox" name="livingroom" id="livingroom">
           </li>  -->

           

           <li>
               <label for="bathroom">Ванная</label>
               <input type="checkbox" name="bathroom" id="bathroom">
           </li>
           <li>
                <label for="bedroom">Спальня</label>
                <input type="checkbox" name="bedroom" id="bedroom">
            </li>
           <li>
                <label for="kitchen">Кухня</label>
                <input type="checkbox" name="kitchen" id="kitchen">
            </li>
           <li>
               <label for="childroom">Детская</label>
               <input type="checkbox" name="childroom" id="childroom">
           </li>
           <li>
                <label for="balcony">Балкон</label>
                <input type="checkbox" name="balcony" id="balcony">
            </li>
            <li>
                    <label for="userRoom0">Ваша комната 0</label>
                    <input type="checkbox" name="userRoom0" id="userRoom0">
                </li>
           <li>
               <label for="userRoom1">Ваша комната 1</label>
               <input type="checkbox" name="userRoom1" id="userRoom1">
           </li>
           <li>
                <label for="userRoom2">Ваша комната 2</label>
                <input type="checkbox" name="userRoom2" id="userRoom2">
            </li>
           <button class="saveBtn">Сохранить</button>
           <button class="cancelBtn">Отменить</button>
        </div>
        <button class="addBtn">Добавить</button>
    </ul>
    
    
        
</div>
    
        
    <div id="footer">
        <div class="container">
            <a href="">Главная</a>
            <a href="">Магазин</a>
            <a href="">Панель Управления</a>
            <a href="">Вход</a>
        </div>
        <div class="container">
            <a href="">Условия и положения</a>
            <a href="">Инструкции по настройке</a>
            <a href="">Контакты</a>
            <a href="">Поддержка</a>
        </div>
        
        <div class="container">
            <a href=""><i class="fab fa-vk fa-3x"></i></a>
            <a href="https://www.apple.com/ru/ios/app-store/"><i class="fab fa-app-store fa-3x"></i></a>
            <a href="https://play.google.com/store/apps/collection/cluster?clp=ogoKCAEqAggBUgIIAQ%3D%3D:S:ANO1ljJG6Aw&gsr=Cg2iCgoIASoCCAFSAggB:S:ANO1ljLKNqE"><i class="fab fa-google-play fa-3x"></i></a>
        </div>
    </div> 
               
    
</body>
</html>
</body>
</html>