<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/deviceStyle.css">
    <link rel="stylesheet" href="css/header.css">
    <script type="module" src="script/users/sign_In.js"></script>

    <title>Вход</title>
</head>
<body>
        <div id="header">
            <div class="menu-btn">
                <span></span>
            </div>
            <nav class="menu-nav">
                <a href="/">Главная</a>
                <a href="/store">Магазин</a>
                <a href="">Панель управления</a>
                <a href="">Поддержка</a>
                <a href="/login">Вход</a>
            </nav>
        </div>

    <div class="container">
        <div class="whiteSmBlock">
            <h1>Вход</h1>
            <hr>
            <div class="smContainer"></div>
            <!-- <div class="form"> -->
                <input type="text" id="email" placeholder="Логин">
                <!-- не понимаю как должно работать. errorLog для дизайна. emailError для скрипта -->
                <span class="errorLogOff emailError"></span>
                <input type="password" autocomplete="on | off"  id="password" placeholder="Пароль">
                <span class="errorLogOf passwordError"></span>
                <div class="row">
                    <a href="/registration">Регистрация</a>
                    <a href=""> Забыли пароль?</a>
                </div>
                <div class="row">
                    <button id="submit" class="orangeBtn">Вход</button>
                </div>
            <!-- </div> -->
            </div>              

        </div>
    </div>
</body>
</html>

<!-- <input type="text" name="" id="userLogin" placeholder="Логин"> -->
    <!-- <span class="errorLog">Неправильное имя полльзователя</span> -->
    <!-- <input type="password" autocomplete="on | off" name="" id="userPassword" placeholder="Пароль"> -->
    <!-- <span class="errorLog">Неверный пароль</span> -->
    <!-- <div class="row"> -->
        <!-- <a href="registration.html">Регистрация</a> -->
        <!-- <a href=""> Забыли пароль?</a>

        <button class="orangeBtn" id="btnSubmitLog" onclick="passwordCheck(); return false;">
            Вход
        </button>
    </div> -->