<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/deviceStyle.css">
    <script type="module" src="/script/users/register.js"></script>

    <title>Регистрация</title>
</head>
<body>
    
    <div id="header">
        <div class="menu-btn">
            <span></span>
        </div>
        <nav class="menu-nav">
            <a href="/main">Главная</a>
            <a href="/store">Магазин</a>
            <a href="/index">Панель управления</a>
            <a href="">Поддержка</a>
            <a href="/index">Вход</a>
        </nav>
    </div>
    <div class="container">
        <div class="whiteSmBlock regBlock">
            <h1>Регистрация</h1>
            <hr>
            <p>Зарегистрируйтесь в системе, что бы управлять устройствами в вашем доме</p>
            <div class="reg" name="register">
                <div class="smContainer">
                    <div class="row">
                        <input type="text" class="oneLineInput" id="userName" placeholder="Имя">
                        <input type="text" class="oneLineInput" id="userSurname" placeholder="Фамилия">
                    </div>
                    <span>Электронная почта</span>
                    <input type="email" id="email" placeholder="Email">
                    <span>Пароль</span>
                    <input type="password" id="password" required="required" placeholder="Пароль">
                    <input type="password" id="repassword" required="required" placeholder="Повторите пароль">
                </div>
                
                <div class="smContainer">
                        <input type="checkbox" class="ligthText">я согласен с политикой обработки персональных данных</a>
                        <div class="row">
                                <button id="submit" class="orangeBtn">Отправить</button>
                                <button class="cancelBtn">Отмена</button>
                        </div>
                </div>
            </div>   
            
        </div>
    </div>
</body>
</html>