<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>
</head>
<body>
    <div class="header">
        <a href="">GreenZone</a>
        <a href="">Главная</a>
        <a href="">Магазин</a>
        <a href="">Панель управления</a>
        <a href="">Поддержка</a>
        <a href=""><i class="fas fa-cart-arrow-down"></i></a>
        <a href="">Вход</a>
    </div>
    <div class="container">
        <!-- товары -->
    </div>
    
    <footer>

    </footer>
</body>
</html>